logs/
!logs/README.txt
target/
dist/
native/win64/mtesrl_*.log
config/application.properties
settings-local.xml
maven/apache-maven-3.9.14-bin.zip
maven-repository/
!maven-repository/README.txt
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
